<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Pokémon Decklist PDF Tool</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="description" content="">
  <link rel="stylesheet" href="/assets/css/styles.css">
  <link rel="icon" href="favicon.png">
  <meta name="theme-color" content="#ff9b51">
</head>
<body>
	<main class="has-flow">
		<h1>Pokémon Decklist PDF Tool</h1>

		{% include 'decklist-input.njk' %}

		{% include 'player-information.njk' %}

		<div id="app_controls">
			<button id="generate_pdf" type="button" disabled>Generate PDF</button>
		</div>

		<hr>

		{% include 'faq.njk' %}

		<hr>

		<footer class="has-flow">
			<p>&copy; <a href="https://www.bshow.co/">Bobby Showalter</a>. This tool
			is open source and available on <a href="#">Github</a>.</p>
			<p>Copyright/ownership/etc disclaimers go here.</p>
		</footer>

		<script src="/assets/js/html2pdf.bundle.min.js"></script>
		<script src="/assets/js/app.js"></script>
	</main>
</body>
</html>
