<div id="help" class="has-flow">
	<h2>How does this work?</h2>
	<ol class="has-flow">
		<li>Click <strong>Import Decklist</strong> to import a Pokémon decklist
			from your device's clipboard</li>
		<li>After a successful import, a <em>Decklist Preview</em> will appear
			for you to verify your list</li>
		<li>Optionally enter your Play! Pokémon Player Information to add it to
			the generated PDF</li>
		<li>Click <strong>Generate PDF</strong> to generate a printable PDF
			version of your decklist</li>
	</ol>
	<h2>Why isn't this working?</h2>
	<ul class="has-flow">
		<li>This is a simple tool that makes no calls to a database that can
			discern what type of card is in your list, so it may need a tiny bit
			of help. Check the formatting of your decklist. At a minimum, this
			tool expects your list to be ordered by Pokémon cards first, then
			Trainer cards, then Energy cards. If your list does not have section
			headings, a blank line should suffice.</li>
	</ul>
</div>
