<div id="help" class="has-flow">
	<h2>How does this work?</h2>
	<ol class="has-flow">
		<li>Paste a properly-formatted Pokémon TCG decklist into the <em>Decklist
		Input</em></li>
		<li>Optionally enter your Play! Pokémon Player Information to add it to
			the generated PDF</li>
		<li>Click <strong>Generate PDF</strong> to generate a printable PDF
			version of your decklist</li>
	</ol>
	<h2>Why didn't this work?</h2>
	<ul class="has-flow">
		<li>Check the formatting of your decklist. At a minimum, this tool expects
		your list to be ordered by Pokémon cards first, then Trainer cards, then
		Energy cards. If your list does not have section headings, a blank line
		should suffice.</li>
	</ul>
	<h2>Why does this exist?</h2>
	<p class="has-flow">I'm tired of manually filling out decklists. Some sites
	have print functionality, but none of them do what I want. I'm scratching my
	back and offering to share the love with whomever else may need it.</p>
</div>
