<details>
	<summary>Player Information (optional)</summary>
	<form class="has-flow">
		<label for="player_name">
			Player Name
			<input id="player_name" type="text" name="player_name">
		</label>
		<label for="player_id">
			Player ID
			<input id="player_id" type="text" name="player_id">
		</label>
		<label for="player_birthday">
			Date of Birth
			<input id="player_birthday" type="date" name="player_birthday">
		</label>
		<label for="player_format">
			Format
			<select id="player_format" name="player_format">
				<option value="player_format_standard">Standard</option>
				<option value="player_format_expanded">Expanded</option>
				<option value="player_format_glc">Gym Leader Challenge</option>
			</select>
		</label>
		<p><button id="save_player_info" type="button">Save</button></p>
		<p><em>Your information will be saved locally to this browser for your
			convenience. This information is only used to display on the final
			PDF and is never sent to another browser, device, or third
		party.</em></p>
	</form>
</details>
